body {
    background-color: #eeeeee
}
h1 {
    color:hotpink;
}
td {
    padding: 12px;
    margin: 24px;
}
.headline {
    font-size: 10px;
    color: hotpink;
}
#first {
    padding: 12px;
    margin: 24px;
}